.nav {
  grid-column: 1 / 13;
  grid-row: 1;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin-left: 30px;
    font-weight: bold;
  }

  &__button {
    margin-right: 30px;
  }
}
