input {
  text-align: center;
}

.Parting {
  grid-column: 1/13;
  grid-row: 6 / 7;
  text-align: center;
  color: white;
  background-size: cover;
  min-height: 30rem;
  background-image: url(../../assets/blue-water.jpg);

  &__text {
    font-size: 1.65em;
    font-weight: bold;
    margin-top: 20vh;
  }

  &__form {
    display: inline-block;
    font-size: 1.5em;
    width: 40%;
    margin-top: 5vh;

    &-button-primary {
      margin-top: 5px;
      height: calc(2.875rem + 2px);
      border-radius: 0.3rem;
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }
}
