.Features {
  grid-column: 1/13;
  grid-row: 3 / 4;

  &__feature {
    margin: 10vh;
  }
}

@media (min-width: 992px) {
  .Features {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
