.Testimonials {
  grid-column: 1/13;
  grid-row: 5 / 6;
  margin-top: 10vh;
  margin-bottom: 10vh;

  &__testimonial {
    margin-top: 10vh;
  }

  &__imageWrapper {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 7px 7px 0 #adb5bd;
    margin-bottom: 2vh;
  }

  &__image {
    width: auto;
    height: 100%;
    margin-left: -50px;
  }
}

@media (min-width: 992px) {
  .Testimonials {
    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
